<h1>Look at all these promises!</h1>
<%= link_to "New Promise", new_promise_path %>
<% @promises.each do |promise| %>
  <ul>
    <li><%= link_to "Promise By #{promise.person}", promise_path(promise)%></li>
    <li>Promise: <%= promise.promise %></li>
    <li>Status: <%= promise.status %></li>
      <%= form_for promise do |f| %>
        <%= f.label :status %>
        <%= f.select :status, ['in progress', 'abandoned', 'done'] %>
        <%= f.submit "Update Status" %>
      <% end %>
  </ul>
<% end %>
